hr{
    border: solid blue 2px;
    width: 478px;
    margin-bottom: 80px;
    padding: 8px;
    position: relative;
}
body{
    text-align: center;
    font-size: 113px;
    color: dimgray;
    background-color: aliceblue;
}