hr{
    border: solid blue 2px;
    width: 468px;
    margin-bottom: 68px;
    padding: 8px;
    position: relative;
}
body{
    text-align: center;
    font-size: 27px;
    color: dimgray;
    background-color: aliceblue;
}